<div class="container w-50 text-center">
    <h1 style="color: rgb(19, 113, 128);">Add New Product here</h1>
    <form (ngSubmit)="addNewProduct()" [formGroup]="addProductForm" action="">
        <input formControlName="id" id="pid" name="p1" class="form-control mt-2 p-2" placeholder="Product ID"
            type="text">
        <input formControlName="productName" id="pname" name="p2" class="form-control mt-2 p-2"
            placeholder="Product Name" type="text">
        <input formControlName="categoryId" id="cid" name="p3" class="form-control mt-2 p-2" placeholder="Category ID"
            type="text">
        <input formControlName="description" id="did" name="p4" class="form-control mt-2 p-2" placeholder="Description"
            type="text">
        <input formControlName="price" id="priceid" name="p5" class="form-control mt-2 p-2" placeholder="Price"
            type="text">
        <input formControlName="isAvailable" id="avid" name="p6" class="form-control mt-2 p-2"
            placeholder="Is Available? True/False" type="text">
        <input formControlName="productImage" id="imid" name="p7" class="form-control mt-2 p-2"
            placeholder="Product Image" type="text">
        <input formControlName="rating" id="ratid" name="p8" class="form-control mt-2 p-2" placeholder="Product Rating"
            type="text">
        <input formControlName="review" id="reid" name="p9" class="form-control mt-2 p-2" placeholder="Product Review"
            type="text">
        <input formControlName="vendorName" id="venid" name="p10" class="form-control mt-2 p-2"
            placeholder="Vendor Name" type="text">
        <input formControlName="warranty" id="warid" name="p11" class="form-control mt-2 p-2" placeholder="Warranty"
            type="text">
        <button class="btn btn-primary mt-2 p-2 mb-3">Add Product</button>
    </form>
</div>