<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-info">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href=""><i class="fa-solid fa-person-running"></i> Take off </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-0">
                <input (keyup)="search($event)" [(ngModel)]="searchterm" id="s1" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Search items here">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">
                        <button type="button" class="btn btn-secondary">Search</button></a></li>
                <li class="nav-item"><a class="nav-link" href="product/add-product">Add Product</a></li>

            </ul>
            <form class="d-flex">
                <button class="btn btn-outline-dark" type="submit">
                    <i class="bi-cart-fill me-1"></i>
                    Cart
                    <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                </button>
            </form>
        </div>
    </div>
</nav>
<!-- Header-->
<header class="bg-light py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-dark">
            <h1 class="display-4 fw-bolder">Shop in style</h1>
            <p class="lead fw-normal text-dark-50 mb-0">Catch Your Dreams</p>
        </div>
    </div>
</header>