<div class="container">
    <div class="text-center row">
        <div class="col-3 p-2">
            <a (click)="filter(' ')">
                <img style="height: 150px; border-radius: 100px;" class="w-75"
                    src="https://i.postimg.cc/4NJNqGL8/sports.jpg" alt="">
                <h6>All Products</h6>
            </a>
        </div>

        <div class="col-3 p-2">
            <a (click)="filter(2)">
                <img style="height: 150px; border-radius: 100px;" class="w-75"
                    src="https://i.postimg.cc/Bv3FwkF4/cricket.jpg" alt="">
                <h6>Cricket</h6>
            </a>
        </div>

        <div class="col-3 p-2">
            <a (click)="filter(3)">
                <img style="height: 150px; border-radius: 100px;" class="w-75"
                    src="https://i.postimg.cc/cLPWxGhG/footballg.jpg" alt="">
                <h6>Football</h6>
            </a>
        </div>

        <div class="col-3 p-2">
            <a (click)="filter(1)">
                <img style="height: 150px; border-radius: 100px;" class="w-75"
                    src="https://i.postimg.cc/QMgyR2nb/hockey.jpg" alt="">
                <h6>Hockey</h6>
            </a>
        </div>
    </div>
</div>

<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div *ngFor="let i of filterproducts | filter:searchkey:'productName' " class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img style="height: 300px;" class="card-img-top" src="{{i.productImage}}" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{i.productName}}</h5>
                            <p>{{i.description}}</p>
                            <!-- Product price-->
                            {{i.price}} RS
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto"
                                href="product/view-product/{{i.id}}">View Product</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>